/* home.module.css */

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  background-color: #ffffff;
  color: rgb(124, 33, 209);
  padding: 10px 20px;
  margin: 10px 0;
  text-decoration: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  max-width: 300px;
}

.link:hover {
  background-color: #499af1;
}

@media (min-width: 768px) {
  .linkContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .link {
    margin: 10px;
    flex: 1 1 30%;
    max-width: none; 
  }
}
