.App {
  text-align: center;
  overflow: auto;
  background: rgb(32,76,194);
  background: linear-gradient(180deg, rgba(32,76,194,1) 9%, rgba(210,12,193,1) 91%, rgba(210,12,193,1) 91%);
  min-height: 100vh;
}
